:root {
    --default-margin: 2em;
    --default-section-margin: 1em 0;
    --default-padding: 1em;
    --default-border-radius: 1.5em;
    --base-color: white;
    --base-variant: #f4f4f4;
    --primary-color: #3A7D44;
    --accent-color: #29335C;
    --text-color: black;
    --default-font-family: 'Lexend', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --timestamp-color1: rgb(60 110 113);
    --timestamp-color2: rgb(49 90 92);
}

body {
    background-color: var(--base-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--text-color);
}

.darkmode {
    --base-color: black;
    --base-variant: rgb(29, 29, 29);
    --text-color: white;
}

@font-face {
    font-family: 'Lexend';
    src: url('assets/fonts/Lexend-VariableFont_wght.ttf');
}

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: var(--default-font-family, sans-serif);
    font-weight: normal
}

h1 {
    text-align: center;
    font-weight: normal;
}

h2 {
    text-decoration: underline;
    text-decoration-color: var(--primary-color, black);
    text-decoration-thickness: 0.15em;
}

main {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 1s ease forwards;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.first-letter {
    color: var(--primary-color);
}


main>section {
    background-color: var(--base-variant);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

section {
    margin: var(--default-margin);
    padding: var(--default-padding);
}

section>* {
    margin: var(--default-section-margin);
}

a {
    text-decoration: none;
}

em {
    color: var(--primary-color, black);
    font-style: normal;
}

nav {
    margin-top: var(--default-margin);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

@media (max-width: 500px) {
    nav ul {
        display: block;
        text-align: center;
    }
}

nav ul li {
    margin: 0 4dvw;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
    padding-bottom: 1em;
    /* for underline position*/
}

nav ul li a::before {
    transition: 300ms;
    height: 3px;
    content: "";
    position: absolute;
    background-color: var(--primary-color, black);
    width: 100%;
    bottom: 5px;
    opacity: 0;
}

nav ul li a:hover::before,
a:focus::before {
    bottom: 11px;
    opacity: 1;
}

.about-body {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1em
}

.about-body p {
    text-align: justify;
}

@media (max-width: 500px) {
    .about-body {
        display: block;
        text-align: center;
    }
}

.profile-img {
    border-radius: 50%;
    margin: 0;
    padding: 0;
}

#project-section {
    display: flex;
    gap: 3em;
}

@media (max-width: 800px) {
    #project-section {
        flex-direction: column;
        gap: 0
    }
}

#project-section a{
    display: contents
}

project-card {
    display: block;
    border-radius: 1em;
    padding: 1rem;
    margin: 1rem 0;
    background-color: var(--base-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease, opacity 0.3s ease;
}

@media (min-width: 801px) {
    #project-section:has(project-card:hover) project-card:not(:hover) {
        transform: scale(0.98);
    }
}

project-card:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

project-card img {
    width: 100%;
    border-radius: 8px;
}

project-card h3 {
    margin-top: 0.5rem;
}

project-card p {
    font-size: 0.9rem;
}

progress {
    display: block;
}

fieldset {
    padding: var(--default-padding);
    border: none;
}

form {
    font-family: var(--default-font-family, sans-serif);
    font-size: 0.8em;
}

form legend {
    font-weight: bold;
}

form input,
form textarea {
    box-sizing: border-box;
    display: block;
    padding: 0.7em;
    margin-top: 0.2em;
    border: 1px solid #ccc;
    border-radius: var(--default-border-radius);
    transition: 300ms;
    font-family: inherit;
}

form input,
form textarea {
    width: 60dvw
}

form input {
    max-width: 35em;
}

form input:focus,
form textarea:focus {
    outline: none;
    border-color: var(--primary-color, black);
    box-shadow: 0 0 5px var(--primary-color, black)
}

form input:user-invalid,
form textarea:user-invalid {
    outline: none;
    border-color: darkred;
    box-shadow: 0 0 5px red
}

button {
    padding: 1em 3em;
    border-radius: var(--default-border-radius);
    border: none;
    background-color: var(--primary-color, black);
    color: white;
    font-size: 1.1em;
}

button:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: transform 0.2s ease;
    background-color: var(--accent-color, black);
}

iframe {
    border-radius: var(--default-border-radius);
    border: none;
    width: 60dvw;
    height: 20em
}

a {
    color: var(--text-color, black);
    text-decoration: underline;
}

svg {
    fill: var(--secondary-color)
}

ul {
    list-style-type: none;
}

ol {
    list-style-type: none;
}

#journey {
    display: flex;
}

@media (max-width: 750px) {
    #journey {
        flex-direction: column;
    }
}

#journey li {
    flex: 1;
}

.timestamp {
    min-width: 10em;
    width: 100%;
    box-sizing: border-box;
    padding: var(--default-padding);
    height: 20em;
    text-align: center;
    color: white;
}

#timestamp1 {
    background:
        linear-gradient(rgb(from var(--timestamp-color1) r g b / 0.65),
            rgb(from var(--timestamp-color1) r g b / 0.65)),
        image-set("assets/images/cologne-cathedral-small.webp" type("image/webp"),
            "assets/images/cologne-cathedral-small.jpeg" type("image/jpeg"));
    background-size: cover;
    /* makes it fill the box */
    background-position: center;
    /* centers the image */
    background-repeat: no-repeat;
    /* avoids tiling */
}

#timestamp2 {
    background:
        linear-gradient(rgb(from var(--timestamp-color2) r g b / 0.8),
            rgb(from var(--timestamp-color2) r g b / 0.8)),
        image-set("assets/images/abitur-small.webp" type("image/webp"),
            "assets/images/abitur-small.jpeg" type("image/jpeg"));
    background-size: cover;
    /* makes it fill the box */
    background-position: center;
    /* centers the image */
    background-repeat: no-repeat;
    /* avoids tiling */
}

#timestamp3 {
    background:
        linear-gradient(rgb(from var(--timestamp-color1) r g b / 0.65),
            rgb(from var(--timestamp-color1) r g b / 0.65)),
        image-set("assets/images/geisel-small.webp" type("image/webp"),
            "assets/images/geisel-small.jpeg" type("image/jpeg"));
    background-size: cover;
    /* makes it fill the box */
    background-position: center;
    /* centers the image */
    background-repeat: no-repeat;
    /* avoids tiling */
}

#timestamp4 {
    background:
        linear-gradient(rgb(from var(--timestamp-color2) r g b / 0.8),
            rgb(from var(--timestamp-color2) r g b / 0.8)),
        image-set("assets/images/geisel-small.webp" type("image/webp"),
            "assets/images/geisel-small.jpeg" type("image/jpeg"));
    background-size: cover;
    /* makes it fill the box */
    background-position: center;
    /* centers the image */
    background-repeat: no-repeat;
    /* avoids tiling */
}

@media (min-width: 1000px) {
    #timestamp1 {
        background:
            linear-gradient(rgb(from var(--timestamp-color1) r g b / 0.65),
                rgb(from var(--timestamp-color1) r g b / 0.65)),
            image-set("assets/images/cologne-cathedral.webp" type("image/webp"),
                "assets/images/cologne-cathedral.jpeg" type("image/jpeg"));
        background-size: cover;
        /* makes it fill the box */
        background-position: center;
        /* centers the image */
        background-repeat: no-repeat;
        /* avoids tiling */
    }

    #timestamp2 {
        background:
            linear-gradient(rgb(from var(--timestamp-color2) r g b / 0.8),
                rgb(from var(--timestamp-color2) r g b / 0.8)),
            image-set("assets/images/abitur.webp" type("image/webp"),
                "assets/images/abitur.jpeg" type("image/jpeg"));
        background-size: cover;
        /* makes it fill the box */
        background-position: center;
        /* centers the image */
        background-repeat: no-repeat;
        /* avoids tiling */
    }

    #timestamp3 {
        background:
            linear-gradient(rgb(from var(--timestamp-color1) r g b / 0.65),
                rgb(from var(--timestamp-color1) r g b / 0.65)),
            image-set("assets/images/geisel.webp" type("image/webp"),
                "assets/images/geisel.jpeg" type("image/jpeg"));
        background-size: cover;
        /* makes it fill the box */
        background-position: center;
        /* centers the image */
        background-repeat: no-repeat;
        /* avoids tiling */
    }

    #timestamp4 {
        background:
            linear-gradient(rgb(from var(--timestamp-color2) r g b / 0.8),
                rgb(from var(--timestamp-color2) r g b / 0.8)),
            image-set("assets/images/geisel.webp" type("image/webp"),
                "assets/images/geisel.jpeg" type("image/jpeg"));
        background-size: cover;
        /* makes it fill the box */
        background-position: center;
        /* centers the image */
        background-repeat: no-repeat;
        /* avoids tiling */
    }
}

.timestamp>* {
    margin: 0.7em 0;
}

.timestamp h3 {
    font-size: 2em;
    border-top: 1px white solid;
    border-bottom: 1px white solid;
    display: inline-block;
}

.timestamp p {
    font-size: 1.2em;
    font-weight: bold;
    min-height: 4em
}

output[name="errors"] {
    display: block;
    color: red;
    font-weight: bold;
    margin-top: 0.5em;
    transition: opacity 0.5s ease;
    opacity: 0;
}

output[name="information"].warning {
    color: orange;
}

output[name="information"].error {
    color: red;
}

.flash {
    animation: flashBorder 0.3s ease;
    animation-iteration-count: 2;
}

@keyframes flashBorder {
    0% {
        box-shadow: 0 0 0px red;
    }

    50% {
        box-shadow: 0 0 10px red;
    }

    100% {
        box-shadow: 0 0 0px red;
    }
}

#theme-switch {
    height: 2.5em;
    width: 2.5em;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow: 0 0 4px gray;
    border: none;
}

#theme-switch svg {
    fill: var(--primary-color)
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block
}

#project-article {
    background-color: var(--base-variant);
    max-width: 60rem;
    width: 90%;
    border-radius: 1em;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background: var(--base-color);
    margin: auto;
}

figure {
    margin: 0;
    position: relative;
    /* important for overlay */
}

#project-article img {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 2em var(--default-padding);
    background: linear-gradient(0deg,
            rgba(0, 0, 0, 0.65) 0%,
            rgba(0, 0, 0, 0.65) 30%,
            rgba(0, 0, 0, 0.5) 50%,
            rgba(0, 0, 0, 0.3) 70%,
            rgba(0, 0, 0, 0.075) 90%,
            transparent 100%);
    color: #fff;
    box-sizing: border-box;
    min-height: 8em;
}

.overlay h2 {
    margin: 1em 0 0.5em;
    font-weight: 500;
    text-decoration: none;
}

.overlay p {
    margin: 0;
    font-size: 0.95rem;
    opacity: 0.95;
}

#additional-information{
    padding: var(--default-padding);
}

footer{
    margin-top: 1em;
}

@view-transition{
    navigation: auto;
}

#electric-field-image{
    view-transition-name: electric-field-image;
}

#homework-2-image{
    view-transition-name: homework-2-image;
}

#personal-portfolio-image{
    view-transition-name: personal-portfolio-image;
}

#electric-field-title{
    view-transition-name: electric-field-title;
}

#homework-2-title{
    view-transition-name: homework-2-title;
}

#personal-portfolio-title{
    view-transition-name: personal-portfolio-title;
}

#electric-field-text{
    view-transition-name: electric-field-text;
}

#homework-2-text{
    view-transition-name: homework-2-text;
}

#personal-portfolio-text{
    view-transition-name: personal-portfolio-text;
}

/*::view-transition-old(electric-field-image),
::view-transition-new(electric-field-image),
::view-transition-old(electric-field-title),
::view-transition-new(electric-field-title) {
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}

::view-transition-group(*) {
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
}
*/

::view-transition-group(root) {
    animation: none;
}


